#flex-container
{
  display: flex;
  /*align-items: stretch; */
  height: 100%;
}

#menu
{
  background-color: rgb(247, 247, 247);
  
  border-color: rgb(216, 216, 216);
  border-style: solid;
  border-width: 1px;
  
  padding-top:    10px;
  padding-left:   10px;
  padding-right:  15px;
  padding-bottom: 10px;
}

#menu-top
{
  width: 15em;
  padding-bottom:10px;
}

#main-content
{
  width: 57em;
  padding-left:  20px;
}

#home
{
  padding-top:  30px;
  text-align:   center;
}

